Repository MukurtuCMS/mukurtu-user-manual, pull requests merged in 2025-06, with the labels that each got.

#240 Dictionary roles article
  docs/dictionary/DictonaryRoles.md
  mkdocs.yml
Labels: dictionary

#227 Understanding person records
  docs/person-records/UnderstandingPersonRecords.md
  mkdocs.yml
Labels: person records

#239 multipage items
  docs/_embeds/multipage1.png
  docs/_embeds/multipage2.png
  docs/_embeds/multipage3.png
  docs/digital-heritage-items/MultipageItems.md
  mkdocs.yml
Labels: digital heritage items, person records

#222 Update user-role-types.md
  docs/users/user-role-types.md
Labels: user roles and responsibilities
