Repository MukurtuCMS/mukurtu-user-manual, pull requests merged in 2025-05, with the labels that each got.

#209 Personal subcollection understanding collections
  docs/collections/PersonalCollection.md
  docs/collections/SubcollectionOrganization.md
  docs/collections/UnderstandingCollections.md
Labels: collections

#208 Update CreateCollection.md
  docs/collections/CreateCollection.md
Labels: collections

#218 Edit Cultural Protocol Settings article
  docs/3Cs/EditCulturalProtocolSettings.md
  mkdocs.yml
Labels: communities cultural protocols and categories

#226 Configure person record
  docs/_embeds/peopletaxonomy1.png
  docs/_embeds/peopletaxonomy2.png
  docs/person-records/ConfigurePersonRecord.md
  mkdocs.yml
Labels: taxonomies, person records

#230 Planning for video hosting
  docs/media/PlanningVideoHosting.md
  mkdocs.yml
Labels: media

#231 Update ByTypeMediaUpload.md
  docs/media/ByTypeMediaUpload.md
Labels: media

#234 Local Contexts hub
  docs/local-contexts/UnderstandingTheLocalContextsHub.md
  mkdocs.yml
Labels: local contexts
